notes.txt

html5up*

data/pictures*

data/cv*

!data/cv_german.tex

!data/cv_german.pdf

!data/cv_english.tex

!data/cv_english.pdf

!data/cv_melching.tex

!data/cv_melching.pdf

data/BA_main.pdf

data/moderncv*

data/tweaklist*
